<!DOCTYPE html>
<html>
  <head>
    <title>MaxGdj Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <br><br>
    <a href="home">Home</a> || <a href="about">About</a> || <a href="help">Help</a>
    <br><br>
    Made by @MaxGdj on 26/04/2012
  </body>
</html>